<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.simple.mapper.RoleMapper">
    <resultMap type="tk.mybatis.simple.model.SysRole" id="roleMap">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="enabled" column="enabled"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time" 
               jdbcType="TIMESTAMP"/>
        <!-- <association property="createInfo">
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time" 
                    jdbcType="TIMESTAMP"/>
        </association> -->
    </resultMap>
    
    <select id="selectRoleById" resultMap="roleMap">
        select * from sys_role where id = #{id}
    </select>
    
    <resultMap type="tk.mybatis.simple.model.SysRole" 
               id="rolePrivilegeListMap" extends="roleMap">
        <collection property="privilegeList" columnPrefix="privilege_"
                    resultMap="tk.mybatis.simple.mapper.PrivilegeMapper.privilegeMap"/>
    </resultMap>
    
    <select id="selectAllRoleAndPrivileges" resultMap="rolePrivilegeListMap">
        select 
            r.id,
            r.role_name,
            r.enabled,
            r.create_by,
            r.create_time,
            p.id privilege_id,
            p.privilege_name privilege_privilege_name,
            p.privilege_url privilege_privilege_url
        from sys_role r
        inner join sys_role_privilege rp on r.id = rp.role_id
        inner join sys_privilege p on rp.privilege_id = p.id
    </select>
    
    <resultMap type="tk.mybatis.simple.model.SysRole" 
               id="rolePrivilegeListMapSelect" extends="roleMap">
        <collection property="privilegeList" fetchType="lazy" column="{roleId=id}" 
                    select="tk.mybatis.simple.mapper.PrivilegeMapper.selectPrivilegeByRoleId" />           
    </resultMap>
    
    <select id="selectRoleByUserId" resultMap="rolePrivilegeListMapSelect">
        select 
            r.id,
            r.role_name,
            r.enabled,
            r.create_by,
            r.create_time
        from sys_role r
        inner join sys_user_role ur on ur.role_id = r.id
        where ur.user_id = #{userId}
    </select>
    
    <!-- 角色的属性enabled值为1的时候表示状态可用，为0的时候表示状态不可用  -->
    <resultMap type="tk.mybatis.simple.model.SysRole" id="rolePrivilegeListMapChoose">
        <discriminator javaType="int" column="enabled">
            <case value="1" resultMap="rolePrivilegeListMapSelect"/>
            <!-- 只会对列举出来的配置进行映射 使用resultMap配置会自动映射其他字段 -->
            <case value="0" resultType="tk.mybatis.simple.model.SysRole">
                <id property="id" column="id"/>
                <result property="roleName" column="role_name"/>
            </case>
        </discriminator>
    </resultMap>
    
    <select id="selectRoleByUserIdChoose" resultMap="rolePrivilegeListMapChoose">
        select
            r.id,
            r.role_name,
            r.enabled,
            r.create_by,
            r.create_time
        from sys_role r
        inner join sys_user_role ur on ur.role_id = r.id
        where ur.user_id = #{userId}
    </select>
</mapper>